
body{
    font-family:  'Manrope', sans-serif;
}

h1{
    width: 100%;
    text-align: center;
    color: #232554;
    margin: 4rem 0;
    font-weight: 800;
    font-size: 4rem;
}


.panel{
    width: 640px;
    margin: auto;
    background: #F5F5F5;
    border-radius: 1.25rem;
    height: 22.5rem;
    padding: 20px 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: .06rem solid #c8c8d5;
}
p{
    width: 640px;
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom:  20px;
}

video {
   /* margin: -20px -30px 10px -30px;*/
    width: 100%;
    height: 100%;
    object-fit: fill;
}


#loading{
    width: 100%;
}

#file-load-panel{
    display: block;
}

#download-link{
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
}

.start{
    position: relative;
    margin: auto;
    width: fit-content;
    display: block;
}

#hero-text{
    color: #232554;
    font-size: 1.25rem;
    margin: 3em auto;
}
.panel-text{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px auto;
}
button{
    margin: auto;
    display: block;
}
#missing-component{
    font-family: monospace;
    background: #e5e5e5;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1.25rem;
}

.monospace{
    font-family: monospace;
    background: #e5e5e5;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0 5px;
}

#input-button{
    margin: 4rem auto;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 800;
    display: block;
}

#unsupported-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}
#error-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #999;
    text-align: center;
    font-size: 0.85rem;
    padding: 20px;
}
#full-screen{
    position: absolute;
    z-index: 5;
    cursor: pointer;
}